<a href="https://colab.research.google.com/github/Kamalakannan-1208/Python-Programming-Fundamentals/blob/main/Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loop

In [1]:
# for loop
for i in range(10):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [4]:
#nested for loop
for i in range(10):
  for j in range(10):
    print(i,j,end=" ")
  print()

0 0 0 1 0 2 0 3 0 4 0 5 0 6 0 7 0 8 0 9
1 0 1 1 1 2 1 3 1 4 1 5 1 6 1 7 1 8 1 9
2 0 2 1 2 2 2 3 2 4 2 5 2 6 2 7 2 8 2 9
3 0 3 1 3 2 3 3 3 4 3 5 3 6 3 7 3 8 3 9
4 0 4 1 4 2 4 3 4 4 4 5 4 6 4 7 4 8 4 9
5 0 5 1 5 2 5 3 5 4 5 5 5 6 5 7 5 8 5 9
6 0 6 1 6 2 6 3 6 4 6 5 6 6 6 7 6 8 6 9
7 0 7 1 7 2 7 3 7 4 7 5 7 6 7 7 7 8 7 9
8 0 8 1 8 2 8 3 8 4 8 5 8 6 8 7 8 8 8 9
9 0 9 1 9 2 9 3 9 4 9 5 9 6 9 7 9 8 9 9

While loop

In [10]:
i=0
while i<=5:
  print("Hello")
  i+=1

Hello
Hello
Hello
Hello
Hello
Hello

loop control statment

In [15]:
i=0
while i<=5:
  print("Hello")
  i+=1
  if i==4:
    break
  elif i==2:
    continue

Hello
Hello
Hello
Hello

In [13]:
if i==0:
  pass

Ternary operator

In [17]:
age=18
print("elgible" if age>=18 else "Not eligible")
print(("eligible","Not eligible")[age>=18])

elgible
Not eligible

In [20]:
# using dictionary
print({True:"eligible",False:"Not eligible"}[age>=18])

eligible

In [23]:
#lambda
var= (lambda x: "True" if i<=18 else "False")(5)

In [24]:
print(var)

True

Match statment

In [19]:
var=1
match (var):
  case 1:
    print("Hello 1")
  case 2:
    print("Hello 2")
  case _:
    print("Hello")

Hello 1