<a href="https://colab.research.google.com/github/Kamalakannan-1208/Python-Programming-Fundamentals/blob/main/Day_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Strings in df

In [ ]:
import pandas as pd
import numpy as np
df1=pd.DataFrame({'Name':["kamal","Kumar","shruthi"],
                    "Age":[21,22,23],})

In [ ]:
df1

      Name  Age
0    kamal   21
1    Kumar   22
2  shruthi   23

In [ ]:
#lower
df1["Name"].str.lower()

0      kamal
1      kumar
2    shruthi
Name: Name, dtype: object

In [ ]:
# upper
df1["Name"].str.upper()

0      KAMAL
1      KUMAR
2    SHRUTHI
Name: Name, dtype: object

In [ ]:
#len
df1["Name"].str.len()

0    5
1    5
2    7
Name: Name, dtype: int64

In [ ]:
# strip
df1["Name"].str.strip()

0      kamal
1      Kumar
2    shruthi
Name: Name, dtype: object

In [ ]:
# split
df1["Name"].str.split("a")

0    [k, m, l]
1     [Kum, r]
2    [shruthi]
Name: Name, dtype: object

In [ ]:
#cat
df1["Name"].str.cat(sep="-")

'kamal-Kumar-shruthi'

In [ ]:
#startwith
df1["Name"].str.startswith("k")

0     True
1    False
2    False
Name: Name, dtype: bool

In [ ]:
#endswith
df1["Name"].str.endswith("l")

0     True
1    False
2    False
Name: Name, dtype: bool

In [ ]:
#replace
df1["Name"].str.replace("a","A")

0      kAmAl
1      KumAr
2    shruthi
Name: Name, dtype: object

In [ ]:
#repeat
df1["Name"].str.repeat(2)

0        kamalkamal
1        KumarKumar
2    shruthishruthi
Name: Name, dtype: object

In [ ]:
#count
df1["Name"].str.count("a")

0    2
1    1
2    0
Name: Name, dtype: int64

In [ ]:
#find
df1["Name"].str.find("a")

0    1
1    3
2   -1
Name: Name, dtype: int64

In [ ]:
#findall
df1["Name"].str.findall("a")

0    [a, a]
1       [a]
2        []
Name: Name, dtype: object

In [ ]:
#islower
df1["Name"].str.islower()

0     True
1    False
2     True
Name: Name, dtype: bool

In [ ]:
#isupper
df1["Name"].str.isupper()

0    False
1    False
2    False
Name: Name, dtype: bool

In [ ]:
#isnummeric
df1["Name"].str.isnumeric()

0    False
1    False
2    False
Name: Name, dtype: bool

In [ ]:
#swapcase
df1["Name"].str.swapcase()

0      KAMAL
1      kUMAR
2    SHRUTHI
Name: Name, dtype: object

In [ ]:
#get_dummies
df1["Name"].str.get_dummies()

   Kumar  kamal  shruthi
0      0      1        0
1      1      0        0
2      0      0        1