<a href="https://colab.research.google.com/github/Kamalakannan-1208/Python-Programming-Fundamentals/blob/main/Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

comments are ignorned by the interpreter/compiler while executing

In [8]:
# comment
"""multlline comment"""
'c'
"comment"

'comment'

Type casting

In [10]:
integer=int()
floating=float()
string=str()
comple=complex()
print(type(integer),type(floating),type(string),type(comple))
#the value by default
print(integer, floating, string, comple)

<class 'int'> <class 'float'> <class 'str'> <class 'complex'>
0 0.0  0j

In [18]:
#integer
print(int(1.0))
print(int("10 \n"))
print(int(True))
print(int("0b111",2))
print(int("0o123",8))
print(int("0x123",16))

1
10
1
7
83
291

In [21]:
#flaot same
print(float("inf"))
print(float("nan"))
print(type(float("nan")))
#str()

inf
nan
<class 'float'>

In [27]:

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Indentation- in python indentation is to represent the block of code(tab == 4 spaces).in other languages {} curly braces represent

print function

In [32]:
import sys
print("kamal",sep=" ", end=" ",file=sys.stdout, flush=False)

kamal

string formattig

In [38]:
#sequence of type is important
print("%d %s"%(2,"kamal"))
#index
print("{1} {0}".format(2,"kamal"))
print("{}{}".format("kamal","kannan"))
var=10
print(f"{var}")

2 kamal
kamal 2
kamalkannan
10

user input

In [40]:
#default str type
a=input()
print(type(a))

1
<class 'str'>

In [45]:
# multiple input by split method
a,b=input().split()
print(a,b,sep="\n")

kamal kannan
kamal
kannan

Data types
numeric-int, float, complex(j)
sequence-list, string, tuple
mapping type- dist
boolean-bool
set type-set , frozen set
binary type -bytes, bytearray, memoryview