<a href="https://colab.research.google.com/github/Kamalakannan-1208/Python-Programming-Fundamentals/blob/main/Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

q1

In [ ]:
"""row= int(input("enter the input: "))
col= int(input("enter the input: "))
for i in range(row):
  for j in range(col):
    print("*",end=" ")
  print()"""

def pattern1(n):
  for i in range(n):
    for j in range(n):
      print("*",end=" ")
    print()
pattern1(int(input("Enter the value: ")))

Enter the value: 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

Pattern printing- most of the time 2 loops
outer loop - row
inner loop- column

q2

In [ ]:
n=int(input("Enter theh n : "))
for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  print()

Enter theh n : 5
*
* *
* * *
* * * *
* * * * *

q3

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

q4

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(j+1,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

q5

In [ ]:
n=5
for i in range(1,2*n):
  if(i>n):
    i = n-(i-n)
  for j in range(i):
    print("*",end=" ")
  print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

q6

In [ ]:
for i in range(1,n+1):
  for j in range(n-i):
    print(" ",end=" ")
  for k in range(i):
    print("*",end=" ")
  print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
#7
for i in range(n):
  for j in range(i):
    print(" ",end=" ")
  for k in range(n-i):
    print("*",end=" ")
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
#8
for i in range(1,n+1):
  for j in range(n-i):
    print(" ",end=" ")
  for j in range((i*2)-1):
    print("*",end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
#9
for i in range(n):
  for j in range(i):
    print(" ",end=" ")
  for k in range(((n-i)*2)-1):
    print("*",end=" ")
  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
#10
for i in range(1,n+1):
  for j in range(n-i):
    print("",end=" ")
  for k in range(i):
    print("* ",end="")
  print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#11
n=5
for i in range(n):
  for j in range(i):
    print(" ",end="")
  for k in range(n-i):
    print("* ",end="")
  print()

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
#12
for i in range(n):
  for j in range(i):
    print(" ",end="")
  for k in range(n-i):
    print("* ",end="")
  print()
for i in range(1,n+1):
  for j in range(n-i):
    print("",end=" ")
  for k in range(i):
    print("* ",end="")
  print()

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#13
n= 5
for i in range(n):
  # outer space
  for j in range(n-i+1):
    print(" ",end="")
  #inner space
  for k in range()
  #star
  for k in range(2*i+1):
    print("*",end="")
  print()

      *
     ***
    *****
   *******
  *********

In [ ]:
# flip pattern
# right angle triangle
n =4

for i in range(0,n):
    start=0

    if(i%2==0):
        start=1
    else:
        start=0

    for j in range(0,i+1):
        start=1-start
        print(start,end=" ")

    print()

0
1 0
0 1 0
1 0 1 0

In [ ]:
# pyramid
for i in range (1,n+1):
  start=0

  if(i%2==0):
    start=1

  for j in range(0,n-i):
    print(" ",end=" ")

  for k in range(0,2*i-1):
    print(start,end=" ")
    start=1-start

  print()

      0
    1 0 1
  0 1 0 1 0
1 0 1 0 1 0 1

In [ ]:
n=4
initial=n
for i in range(1,n+1):
    #alpha
    alphastart=65+initial
    incr=0
    for j in range(i):
        print(chr(alphastart+incr),end=" ")
        incr+=1
    initial-=1
    print()

E
D E
C D E
B C D E

In [ ]:
n=4

for i in range(0,n):

    #star
    for j in range(n-i):
        print("*",end=" ")

    #space
    for k in range(i*2):
        print(" ",end=" ")

    #star
    for l in range(n-i):
        print("*",end=" ")
    print()
ops=(n-1)*2
for x in range(n):
    #star
    for a in range(x+1):
        print("*",end=" ")

    #space

    for b in range(ops):
        print(" ",end=" ")
    ops = ops-2
    #star
    for c in range(x+1):
        print("*",end=" ")
    print()

* * * * * * * *
* * *     * * *
* *         * *
*             *
*             *
* *         * *
* * *     * * *
* * * * * * * *

In [11]:
n=5
space=2*n-2
for i in range(1,2*n):
  if i<n:
    star=i
  else:
    star=2*n-i

  #star
  for j in range(star):
    print("*",end=" ")
  #space
  for m in range(space):
    print(" ",end=" ")
  #star
  for k in range(star):
    print("*",end=" ")

  if i<n:
    space=space-2
  else:
    space=space+2

  print()

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [12]:
for i in range(0,n):
  for j in range(0,n):
    if(i==0 or i==n-1 or j==0 or j==n-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [14]:
for i in range(2*n-1):
  for j in range(2*n-1):
    top=i
    left=j
    right=(2*n-2)-j
    bottom=(2*n-2)-i
    print(n-min(min(top,bottom),min(right,left)),end=" ")
  print()

5 5 5 5 5 5 5 5 5
5 4 4 4 4 4 4 4 5
5 4 3 3 3 3 3 4 5
5 4 3 2 2 2 3 4 5
5 4 3 2 1 2 3 4 5
5 4 3 2 2 2 3 4 5
5 4 3 3 3 3 3 4 5
5 4 4 4 4 4 4 4 5
5 5 5 5 5 5 5 5 5